name: Get Sentiment and update GitHub page

on:
  push:
    branches: [main]
  schedule:
    - cron: "*/30 * * * *"

permissions:
  contents: write

jobs:
  refresh_page:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install necessary libraries
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execute python script to update sentiment page
        run: python update_sentiment_page.py

      # Checkout the GitHub Pages repo into a subfolder
      - name: Checkout pages repo
        uses: actions/checkout@v4
        with:
          repository: damianboh/damianboh.github.io
          token: ${{ secrets.TOKEN }}
          path: pages

      - name: Copy HTML into pages repo
        run: |
          cp dow_jones_live_sentiment.html pages/dow_jones_live_sentiment.html

      - name: Commit and push to pages repo
        run: |
          cd pages
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add dow_jones_live_sentiment.html
          git commit -m "refresh dow jones sentiment page" || echo "No changes to commit"
          git push origin main
